body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: Light violet , White;
}

.hero {
  height: 90vh;
  background: url('hero.jpg') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 60px;
  letter-spacing: 4px;
}

.hero p {
  font-size: 18px;
}

.btn {
  margin-top: 20px;
  padding: 12px 25px;
  background: black;
  color: white;
  text-decoration: none;
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.product {
  width: 260px;
  text-align: center;
}

.product img {
  width: 100%;
}

button {
  margin-top: 10px;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  width: 100%;
}
